<div class="card-group card-deck w-75 my-5">
    <div class="card border-0">
        <div class="card-header bg-success text-white text-center py-3">
            Featured
        </div>
        <div class="card-body border">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
    </div>

    <div class="card mx-3 border-0">
        <div class="card-header bg-primary text-white text-center py-3">
            Featured
        </div>
        <div class="card-body border p-0">
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center bg-light">Free setup</li>
                <li class="list-group-item text-center bg-light">Use your own domain</li>
                <li class="list-group-item text-center bg-light">Vestibulum at eros</li>
              </ul>
        </div>
    </div>

    <div class="card border-0">
        <div class="card-header bg-dark text-white text-center py-3">
            Featured
        </div>
        <div class="card-body border">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
  </div>